.btn {
    display: inline-block;
    font-family: fantasy;
    padding: 0.5625rem 0.875rem;
    font-size: 1rem;
    font-weight: bold;
    color: map-get($colors, light);
    border: 2px solid map-get($colors, light);
    border-radius: 3px;
    width: 100%;
    background: transparent;
    text-align: center;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &.btn-common {
        color: map-get($colors, light);
        transition: all 0.6s ease;
        &:hover {
            border-color: map-get($colors, cpink);
            color: map-get($colors, cpink);
        }
    }

}