
input, select {
  width: stretch;
  height: calc(55px - 36px);
  border: 3px solid map-get($colors, cblack);
  background-color: map-get($colors, light);
  padding: 15px 8px;
  font-size: 1rem;
  font-family: fantasy;

  &:focus {
    outline: 0;
    border-color: map-get($colors, cpink);
  }

  &::placeholder { /* Most modern browsers support this now. */
    font-size: 1rem;
    font-family: fantasy;
    padding: 15px 8px;

  }
}

input[type=text], input[type=password], input[type=numeric], input[type=tel]  {
  &.ng-invalid {
    &:not(.ng-untouched) {
      border-color: map-get($colors, cred);
      background-size: 22px;
      padding-left: 8px;
    }
  }
  &[disabled]{
    opacity: 0.5;
  }
}


.form-control {
  margin: 2rem auto 1rem auto;
}

.errorsFields {
  display: inline-flex;
  align-items: center;
  background:  map-get($colors, cbrown);
  padding: 0.5rem;
  border: solid 1px black;
  border-radius: 8px;  

  .icon-warning {
    width: 20px;
    height: 20px;;
    background: url('/assets/img/icon-warning.png');
    background-size: contain;
  }
  .errorMessage {
    font-size: 0.7rem;
    color: map-get($colors, cblack);
    border-radius: 4px;
    font-weight: bold;
    padding-left: 5px;
  }
}