@import "sass/variables";


body {
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    font-size: $base;
    font-weight: normal;
    font-family: fantasy;
}

* {
    margin: 0;
}

html, body {
    margin: 0;
}


:-webkit-scrollbar { 
    display: none; 
}





// .desktop {
//     display: none !important;
//     @media #{$desktop} {
//       display: inherit !important;
//     }
//   }
  
//   .mobile {
//     @media #{$desktop} {
//       display: none !important;
//     }
//   }