/* TYPOGRAPHY */
    @font-face {
        font-family: 'Starjedi';
        src: url("/assets/fonts/Starjedi.ttf");
    }

    @font-face {
        font-family: 'Starjhol';
        src: url("/assets/fonts/Starjhol.ttf");
    }

    @font-face {
        font-family: 'Starjout';
        src: url("/assets/fonts/Starjout.ttf");
    }
    
    @font-face {
        font-family: 'STJEDISE';
        src: url("/assets/fonts/STJEDISE.ttf");
    }
    