
$base: 16px;


$tablet: ' only screen and (min-width: 600px) and (max-width: 992px)';
$desktop: 'only screen and (min-width: 992px)';

/* colores */
$colors: (
    light: #ffffff,
    cpurple: #282046,
    cblack: #000000,
    cpink: #F4137B,
    cred: #ff0000,
    cdarkred: darkred,
    cbrown: brown,
    cgray: darkgrey
);
