@import '~src/sass/variables';

.page-not-found {    
    .bg-image {
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        backface-visibility: hidden;
        &::before {
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            z-index: -1;            
            display: block;
            width: 100%;
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-image: url(/assets/img/404.jpg);
            filter: blur(4px);
            @media #{$desktop} {
                background-size: auto;
            }
        }
      }

      .container-main-page-not-found {
        display: flex;
        justify-content: center;
        align-items: center;
        height: stretch;
        padding: 1rem;

        h1 {
            text-align: center;          
            font-size: 1.8rem;
            color: map-get($colors, light);
            @media #{$desktop} {
              font-size: 2rem;
            }
            @media #{$tablet} {
              font-size: 2rem;
            }
        }
      }
}