
<app-loading [showMe]="isShowLoading"></app-loading>
<div class="login">
  <div class="bg-image"></div>
  <div class="container-main-login">
    <h1 class="text-center">Autenticación Star Wars - Opinno</h1>
    <form class="form-login" [formGroup]="signInForm"
      (ngSubmit)="onSubmitSignInForm()">
      <div class="form-control">
        <label for="username">Usuario</label>
        <input name="username"
          type="text"
          formControlName="username"
          placeholder="Usuario"
          autocomplete="off">
      </div>
      <div class="errorsFields"
        *ngIf="signInForm.controls.username.errors?.required &&
        signInForm.controls.username.touched">
        <figure class="icon-warning"></figure>
        <p class="errorMessage">El campo usuario no puede estar vacío</p>
      </div>
      <div class="errorsFields"
        *ngIf="signInForm.controls.username.errors?.email &&
        signInForm.controls.username.touched">
        <figure class="icon-warning"></figure>
        <p class="errorMessage">El campo usuario debe ser un email correcto</p>
      </div>
      <div class="form-control">
        <label for="passaccess">Contraseña</label>
        <input name="passaccess"
          type="password"
          formControlName="passaccess"
          placeholder="Contraseña"
          autocomplete="off">
      </div>
      <div class="errorsFields"
        *ngIf="signInForm.controls.passaccess.errors?.required &&
        signInForm.controls.passaccess.touched">
        <figure class="icon-warning"></figure>
        <p class="errorMessage">El campo contraseña no puede estar vacío</p>
      </div>
      <div class="errorsFields"
        *ngIf="signInForm.controls.passaccess.errors?.minlength &&
        signInForm.controls.passaccess.touched">
        <figure class="icon-warning"></figure>
        <p class="errorMessage">El campo contraseña debe contener mínimo 6
          caracteres</p>
      </div>
      <div class="form-control text-center">
        <button type="submit" class="btn btn-common">CONTINUAR</button>
      </div>
    </form>
    <div class="form-control text-center">
      <button class="btn btn-common" (click)="goToRegistro()">REGISTRARME</button>
    </div>
  </div>
</div>