<div class="history-navigation">
  <div class="bg-image"></div>
  <div class="container-main-history-navigation">
    <h1 class="title">Historial de navegación</h1>
    <ul class="list-date" *ngIf="navigations; else noneResults">
      <li class="item-date" *ngFor="let date of navigationKeys | sort: 'reverse'">
        <h2>{{getDate(date) | date:'fullDate'}}</h2>
        <ul class="list-history">
          <li class="item-history"             
            *ngFor="let history of navigations[date] | sort: 'reverse'; let i = index">
            <h3>{{history.page}}</h3>
            <div class="flex-container">
                <p>{{history.time}}</p>
                <figure (click)="onDeleteHistory(date, i)" class="icon-delete"></figure>
            </div>
      
          </li>
        </ul>
      </li>
    </ul>
    <ng-template #noneResults>
      <p class="noneResults">No hay resultados</p>
    </ng-template>
    <div class="form-control text-center" *ngIf="navigations">
        <button class="btn btn-common" (click)="onDeleteAllHistory()">Borrar historial</button>
    </div>
  </div>
</div>