@import '~src/sass/variables';

.history-navigation {    
    .bg-image {
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        backface-visibility: hidden;
        &::before {
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            z-index: -1;            
            display: block;
            width: 100%;
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-image: url(/assets/img/history-navigation-bg.jpg);
            filter: blur(4px);
            @media #{$desktop} {
                background-size: auto;
            }
        }
      }

    .container-main-history-navigation {             
        margin: 0 0.8rem;
        padding-top: 6rem;
        @media #{$desktop} {
            margin: 0 1rem;
        }
        @media #{$tablet} {
            margin: 0 1rem;
        }

        .form-control {
            margin: 1rem auto;
            @media #{$desktop} {
                width: 40%;

            }
            @media #{$tablet} {
                width: 74%;
            }
        }

        .noneResults {
            font-family: Starjhol;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            color: map-get($colors, light);
            margin: 4rem auto;
        }

        .title {
            font-size: 1.5rem;
            font-family: STJEDISE;
            text-align: center;
            color: map-get($colors, light);
        }

        .list-date {
            padding: 1rem;
            margin: 2rem auto;
            list-style-type: none;
            background: map-get($colors, light);
            box-shadow: 0px 0px 9px 2px map-get($colors, cdarkred);
            @media #{$desktop} {
                width: 60%;
            }
            @media #{$tablet} {
                width: 70%;
            }

            .item-date {
                padding: 1rem;

                .list-history {
                    padding: 0.5rem;
                    list-style-type: none;

                    .item-history {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        align-items: baseline;
                        padding: 1rem;
                        border-bottom: solid 1px map-get($colors, cgray);                        
                        @media #{$desktop} {
                            flex-direction: row;
                            align-items: center;
                        }
                        @media #{$tablet} {
                            flex-direction: row;
                            align-items: center;
                        }


                        &:last-child {
                            border-bottom: none;
                        }

                        h3 {
                            padding-right: 2rem;
                            flex: 2;
                        }

                        .flex-container {
                            display: flex;
                            width: 100%;
                            flex:1;
                            @media #{$desktop} {
                                justify-content: flex-end;
                            }
                            @media #{$tablet} {
                                justify-content: flex-end;
                            }
                        }

                        .icon-delete {
                            cursor: pointer;
                            background: url('/assets/img/icon-delete.png') no-repeat;
                            width: 100%;
                            height: 1.5rem;
                            background-size: contain;
                            background-position: right;
                            margin-left: 1rem;
                            @media #{$desktop} {
                                width: 2rem;
                                height: 3vh;
                                background-position: center;
                            }
                            @media #{$tablet} {
                                width: 3rem;
                                height: 3vh;
                                background-position: center;
                            }
                        }
                    }
                }

            }
        }
    }    

}