@import '~src/sass/variables';
.loading{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: map-get($colors, cpurple);
  opacity: 0.7;
  z-index: 99999;
  overflow: hidden;
  pointer-events: none;
  .image{
    background: transparent url(/assets/img/loading.gif) no-repeat fixed center;
    width: 100%;
    height: 100%;
    background-size: 50%;
  }
}

