@import '~src/sass/variables';

.personal-detail {    
    padding-top: 5rem;
    .bg-image {
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        backface-visibility: hidden;
        &::before {
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            z-index: -1;            
            display: block;
            width: 100%;
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-image: url(/assets/img/personal-detail-bg.jpg);
            filter: blur(4px);
            @media #{$desktop} {
                background-size: auto;
            }
        }
      }

      h1 {
        font-size: 1.5rem;
        font-family: STJEDISE;
        text-align: center;
        color: map-get($colors, light);
        padding-top: 2rem;
    }

    .container-main-personal-detail { 
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 1rem;

        .card-personal-detail {
            margin-top: 2rem;
            background: map-get($colors, light);
            display: flex;
            flex-direction: column;
            flex: 0 15rem;
            align-items: center;
            padding: 1rem;
            box-shadow: -1px 0px 13px 4px map-get($colors, cdarkred);
    
            h1 {
                font-family: Starjhol;
                text-align: center;
                line-height: 30px;
                color: map-get($colors, cdarkred);
                font-size: 1.6rem;
            }
    
            p {
                margin-top: 1rem;
                font-size: 1rem;
                font-family: Starjout;
                text-align: center;
                span {
                    color: map-get($colors, cdarkred);
                }
            }

          }
    }

    .container-carousel {
        margin: 1rem auto;
        width: 80%;
      

      .cardCarousel {
        cursor: pointer;
        background: map-get($colors, light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-shadow: -1px 0px 13px 4px map-get($colors, cdarkred);
        @media #{$desktop} {
            min-height: 29rem;
        }
        @media #{$tablet} {
            min-height: 20rem;
        }


        h1 {
            font-family: Starjhol;
            text-align: center;
            line-height: 30px;
            color: map-get($colors, cdarkred);
            font-size: 1.6rem;
        }

        h2 {
            margin-bottom: 1rem;
            font-size: 1rem;
            font-family: Starjout;
        }

        p {
            font-size: 1rem;
            font-family: fantasy;
        }

        strong {
            margin: 1rem 0;
        }
      }

      .leftRs {
          cursor: pointer;
          position: absolute;
          margin: auto;
          font-family: sans-serif;
          font-weight: bold;
          color: map-get($colors, cdarkred);
          font-size: 1rem;
          top: 0;
          bottom: 0;
          width: 50px;
          height: 50px;
          box-shadow: 1px 2px 10px -1px map-get($colors, cdarkred);
          border-radius: 999px;
          left: 0;

          &:focus {
              outline: none;
          }
      }
  
      .rightRs {
          cursor: pointer;
          position: absolute;
          margin: auto;
          font-family: sans-serif;
          font-weight: bold;
          color: map-get($colors, cdarkred);
          font-size: 1rem;
          top: 0;
          bottom: 0;
          width: 50px;
          height: 50px;
          box-shadow: 1px 2px 10px -1px map-get($colors, cdarkred);
          border-radius: 999px;
          right: 0;

          &:focus {
            outline: none;
         }
      }
    }

}