<app-loading [showMe]="isShowLoading"></app-loading>
<div class="personal-detail">
  <div class="bg-image"></div>
  <h1>Información del personaje</h1>
  <div class="container-main-personal-detail" *ngIf="mainInfoPerson != null && specieInfo != null && homeWorldInfo != null">
    <div class="card-personal-detail">
      <h1>{{mainInfoPerson.name}}</h1>
      <p>Gender: <span>{{mainInfoPerson.gender}}</span></p>
      <p>Birth Year: <span>{{mainInfoPerson.birth_year}}</span></p>
      <p>Eye color: <span>{{mainInfoPerson.eye_color}}</span></p>
      <p>Skin color: <span>{{mainInfoPerson.skin_color}}</span></p>
      <p>Height: <span>{{mainInfoPerson.height/100}} m</span></p>
      <p>Mass: <span>{{mainInfoPerson.mass}} kg</span></p>
    </div>
    <div class="card-personal-detail">
      <h1>Specie</h1>
      <p>Type: <span>{{specieInfo.name}}</span></p>
      <p>Average height: <span>{{specieInfo.average_height/100}} m</span></p>
      <p>Average lifespan: <span>{{specieInfo.average_lifespan}} years</span></p>
      <p>Classification: <span>{{specieInfo.classification}}</span></p>
      <p>Designation: <span>{{specieInfo.designation}}</span></p>
      <p>Language: <span>{{specieInfo.language}}</span></p>
    </div>
    <div class="card-personal-detail">
      <h1>Home World</h1>
      <p>Name: <span>{{homeWorldInfo.name}}</span></p>
      <p>Climate: <span>{{homeWorldInfo.climate}}</span></p>
      <p>Diameter <span>{{homeWorldInfo.diameter}}</span></p>
      <p>orbital period: <span>{{homeWorldInfo.orbital_period}} years</span></p>
      <p>Population: <span>{{homeWorldInfo.population}}</span></p>
      <p>Rotation period: <span>{{homeWorldInfo.rotation_period}}</span></p>
      <p>Terrain: <span>{{homeWorldInfo.terrain}}</span></p>
    </div>
  </div>

  <h1>Películas en las que aparece</h1>
  <div class="container-carousel">
      <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
          <ngu-tile *nguCarouselDef="let item; let i= index">
              <div class="cardCarousel">
                  <h1>{{carouselTileItems[i]?.title}}</h1>
                  <strong>({{ getDate(carouselTileItems[i]?.release_date) | date: 'fullDate'}})</strong>
                  <h2>Director: {{carouselTileItems[i]?.director}}</h2>
                  <p>{{carouselTileItems[i]?.opening_crawl}}</p>
              </div>
          </ngu-tile>
          <button NguCarouselPrev class="leftRs" [ngStyle]="{'display': myCarousel.isFirst || myCarousel.currentSlide <= 0 ? 'none' : 'block' }">&lt;</button>
          <button NguCarouselNext class="rightRs">&gt;</button>
      </ngu-carousel>
  </div>


</div>