<div class="searchbox">
  <h1>Busca una película por título, director, sinopsis..."</h1>
  <input class="input-searchbox" type="search" placeholder="Búsqueda..." [(ngModel)]="filterSearch" (focus)="onblurInput=false" (blur)="onblurInput=true">
  <ul class="list-films-dropdown" [ngClass]="{'borderOnBlurInput':  onblurInput}" *ngIf="filterSearch.length > 0">
      <li class="item-film" 
        [ngClass]="{'text-gray': film.id == -1}"
        *ngFor="let film of films | search: filterSearch">
        <h1 class="title">{{film.title}} ({{ getDate(film.release_date) | date: 'fullDate'}})</h1>
        <p class="description">{{film.opening_crawl}}</p>
      </li>
  </ul>
</div>
