@import '~src/sass/variables';

.searchbox {
    width: 100%;
    margin: 1rem auto 2rem auto;
    @media #{$desktop} {
        width: 60%;
    }
    @media #{$tablet} {
        width: 70%;
    }

    h1 {
        font-size: 1.5rem;
        font-family: STJEDISE;
        text-align: center;
        color: map-get($colors, light);
    }

    .input-searchbox {
        margin-top: 1rem;
        padding: 1.5rem 0.5rem;
    }

    .list-films-dropdown {
        background: map-get($colors, light);
        width: calc(100% - 2.4rem);
        margin: 0 auto;
        list-style-type: none;
        padding: 1rem;
        box-shadow: 0px 0px 11px 2px map-get($colors, cdarkred);
        border: solid 3px map-get($colors, cpink);
        border-top-width: 1px;

        &.borderOnBlurInput {
            border: solid 3px map-get($colors, cblack);
            border-top-width: 0px;
        }

        .item-film {
            padding: 1rem 0.5rem;
            border-bottom: solid 2px map-get($colors, cblack);

            &:last-child {
                border-bottom: none;
            }

            &.text-gray {
                color: map-get($colors, cgray);
            }

            .title {
                font-size: 1rem;
                color: map-get($colors, cblack);
                text-align: left;
                margin-bottom: 8px;
            }

            .description {
                font-size: 0.7rem;
                color: map-get($colors, cgray);
                text-align: left;
                line-height:25px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                /* autoprefixer: ignore next */
                -webkit-box-orient: vertical;
                overflow:hidden;
            }
        }
    }
}