
<app-loading [showMe]="isShowLoading"></app-loading>
<div class="register">
    <div class="bg-image"></div>
    <div class="container-main-register">
        <h1 class="text-center">Registro Star Wars - Opinno</h1>
        <form class="form-register" [formGroup]="signUpForm"
            (ngSubmit)="onSubmitSignUpForm()">
            <div class="form-control">
                <label for="username">Usuario</label>
                <input name="username"
                    formControlName="username"
                    type="text"
                    placeholder="Usuario"
                    autocomplete="off">
            </div>
            <div class="errorsFields"
                *ngIf="signUpForm.controls.username.errors?.required &&
                signUpForm.controls.username.touched">
                <figure class="icon-warning"></figure>
                <p class="errorMessage">El campo usuario no puede estar vacío</p>
            </div>
            <div class="errorsFields"
                *ngIf="signUpForm.controls.username.errors?.email &&
                signUpForm.controls.username.touched">
                <figure class="icon-warning"></figure>
                <p class="errorMessage">El campo usuario debe ser un email
                    correcto</p>
            </div>

            <div class="form-control">
                <label for="newpassword">Nueva contraseña</label>
                <input name="newpassword"
                    formControlName="newpassword"
                    type="password"
                    autocomplete="off"
                    placeholder="Nueva Contraseña" autocomplete>
            </div>
            <div class="errorsFields"
                *ngIf="signUpForm.controls.newpassword.errors?.required &&
                signUpForm.controls.newpassword.touched">
                <figure class="icon-warning"></figure>
                <p class="errorMessage">El campo nueva contraseña no puede estar
                    vacío</p>
            </div>
            <div class="errorsFields"
                *ngIf="signUpForm.controls.newpassword.errors?.minlength &&
                signUpForm.controls.newpassword.touched">
                <figure class="icon-warning"></figure>
                <p class="errorMessage">El campo nueva contraseña debe contener
                    mínimo 6 caracteres</p>
            </div>
            <div class="form-control">
                <label for="verifynewpass">Verificar contraseña</label>
                <input name="verifynewpass"
                    formControlName="verifynewpass"
                    type="password"
                    autocomplete="off"
                    placeholder="Verificar nueva Contraseña">
            </div>
            <div class="errorsFields"
                *ngIf="signUpForm.controls.verifynewpass.errors?.required &&
                signUpForm.controls.verifynewpass.touched">
                <figure class="icon-warning"></figure>
                <p class="errorMessage">El campo verificar nueva contraseña no
                    puede estar vacío</p>
            </div>
            <div class="errorsFields"
                *ngIf="signUpForm.controls.verifynewpass.errors?.minlength &&
                signUpForm.controls.verifynewpass.touched">
                <figure class="icon-warning"></figure>
                <p class="errorMessage">El campo verificar nueva contraseña debe
                    contener mínimo 6 caracteres</p>
            </div>
            <div class="errorsFields"
                *ngIf="!signUpForm.controls.verifynewpass.errors?.minlength &&
                signUpForm.controls.verifynewpass.value !==
                signUpForm.controls.newpassword.value &&
                signUpForm.controls.verifynewpass.touched">
                <figure class="icon-warning"></figure>
                <p class="errorMessage">Las contraseñas no coinciden</p>
            </div>
            <div class="form-control text-center">
                <button type="submit" class="btn btn-common">REGISTRAR</button>
            </div>
        </form>
        <div class="form-control text-center">
            <button class="btn btn-common" (click)="goToLogin()">ACCEDER</button>
        </div>
    </div>
</div>