@import '~src/sass/variables';

.register {    
    .bg-image {
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        backface-visibility: hidden;
        &::before {
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            z-index: -1;            
            display: block;
            width: 100%;
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-image: url(/assets/img/register-bg.png);
            filter: blur(4px);

            @media #{$desktop} {
                background-size: auto;
            }
        }
      }

    .container-main-register{ 
        padding-top: 4rem;
        width: 90%;
        margin:  0rem auto;
        padding-top: 1rem;
        @media #{$desktop} {
            font-size: 1.5rem;
            width: 30%;
        }
        @media #{$tablet} {
            font-size: 1.5rem;
            width: 50%;
        }

        h1 {
            margin-top: 1rem;
            font-size: 2rem;
            color: map-get($colors, light); 
        }

        .form-control {
            .btn {
                &.btn-common {
                    @media #{$desktop} {
                        width: 50%;
                    }
                }
            }
        }

        .form-register {

            label {
                color: map-get($colors, light);
            }
    
        }
    }    



}