<app-loading [showMe]="isShowLoading"></app-loading>
<div class="main">
    <div class="bg-image"></div>
    <div class="container-main">
        <app-searcher [films]="films"></app-searcher>
        <h1>Personajes</h1>
        <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
            <ngu-tile *nguCarouselDef="let item; let i= index" (click)="goToDetailPerson(i+1)">
                <div class="cardCarousel">
                    <h1>{{carouselTileItems[i]?.name}}</h1>
                    <h2>Gender: {{carouselTileItems[i]?.gender}}</h2>
                    <p>Films: {{carouselTileItems[i]?.films?.length}}</p>
                </div>
            </ngu-tile>
            <button NguCarouselPrev class="leftRs" [ngStyle]="{'display': myCarousel.isFirst || myCarousel.currentSlide <= 0 ? 'none' : 'block' }">&lt;</button>
            <button NguCarouselNext class="rightRs">&gt;</button>
        </ngu-carousel>
    </div>
</div>