@import '~src/sass/variables';

.main {    
    padding-top: 5rem;
    .bg-image {
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        backface-visibility: hidden;
        &::before {
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            z-index: -1;            
            display: block;
            width: 100%;
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-image: url(/assets/img/main-bg.jpg);
            filter: blur(4px);
            @media #{$desktop} {
                background-size: auto;
            }
        }
      }

      .container-main {
        padding-top: 2rem; 
        margin: 0 auto; 
        width: 90%;

        h1 {
            font-size: 1.5rem;
            font-family: STJEDISE;
            text-align: center;
            color: map-get($colors, light);
            margin: 1rem 0;
        }

        .cardCarousel {
            cursor: pointer;
            background: map-get($colors, light);
            min-height: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            box-shadow: -1px 0px 13px 4px map-get($colors, cdarkred);
    
            h1 {
                font-family: Starjhol;
                text-align: center;
                line-height: 30px;
                color: map-get($colors, cdarkred);
                font-size: 1.6rem;
            }
    
            h2 {
                margin-top: 1rem;
                font-size: 1rem;
                font-family: Starjout;
            }
    
            p {
                font-size: 1rem;
                font-family: Starjedi;
            }
          }
    
          .leftRs {
              cursor: pointer;
              position: absolute;
              margin: auto;
              font-family: sans-serif;
              font-weight: bold;
              color: map-get($colors, cdarkred);
              font-size: 1rem;
              top: 0;
              bottom: 0;
              width: 50px;
              height: 50px;
              box-shadow: 1px 2px 10px -1px map-get($colors, cdarkred);
              border-radius: 999px;
              left: 0;
    
              &:focus {
                  outline: none;
              }
          }
      
          .rightRs {
              cursor: pointer;
              position: absolute;
              margin: auto;
              font-family: sans-serif;
              font-weight: bold;
              color: map-get($colors, cdarkred);
              font-size: 1rem;
              top: 0;
              bottom: 0;
              width: 50px;
              height: 50px;
              box-shadow: 1px 2px 10px -1px map-get($colors, cdarkred);
              border-radius: 999px;
              right: 0;
    
              &:focus {
                outline: none;
            }
          }
      }

}