<app-loading [showMe]="isShowLoading" *ngIf="isShowLoading !== null"></app-loading>
<div class="header">
  <div class="container-flex">
      <h1 class="title-header" (click)="goToMain()">Star wars - opinno</h1>
      <a class="history-navigation" (click)="goToHistory()">Historial de navegación</a>
  </div>

  <a class="logout" (click)="goToLogout()">Desconectar</a>
</div>
