@import '~src/sass/variables';

.header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: map-get($colors, light);
    height: 5rem;
    background: map-get($colors, cblack);
    border: solid 1px map-get($colors, cgray);
    box-shadow: 0px 1px 15px 0px map-get($colors, cgray);
    @media #{$desktop} {
        flex-direction: row;
        justify-content: space-between;
    }
    @media #{$tablet} {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .container-flex {
        display: flex; 
        flex-wrap: wrap; 
        align-items: center;

        .title-header {
            cursor: pointer;
            font-size: 1.25rem;
            text-align: center;
            font-family: 'STJEDISE';
            text-shadow: 2px 2px map-get($colors, cdarkred);
            color: map-get($colors, light);
            padding-left: 1rem;
            @media #{$desktop} {
                font-size: 2rem;
                padding-left: 3rem;
            }
            @media #{$tablet} {
                font-size: 1.7rem;
                padding-left: 1.5rem;
            }
        }
    

        .history-navigation {
            cursor: pointer;
            font-size: 0.8rem;
            font-family: 'Starjedi';
            color: map-get($colors, cdarkred);
            padding-left: 1rem;
    
            @media #{$desktop} {
                font-size: 1.25rem;
                padding-left: 3rem;
            }
            @media #{$tablet} {
                font-size: 1rem;
                padding-left: 1.5rem;
            }
        }
    }

    .logout {
        cursor: pointer;
        font-size: 0.8rem;
        font-family: 'Starjhol';
        color: map-get($colors, light);
        @media #{$desktop} {
            font-size: 1.25rem;
            padding-right: 3rem;
        }
        @media #{$tablet} {
            font-size: 1rem;
            padding-right: 1.5rem;
        }
    }
}